body {
  background: #f0f0f0;
}
.urlBox .el-select .el-input {
  width: 130px;
}

code, kbd, pre, samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

textarea  {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.d2h-info {
  height: 19px;
}
